/**
 * _classes.scss
 */

/*
Buttons
 */
.button { @include button; }

/*
Fonts
 */
.f--body { font-family: $body-font; }
.f--heading { font-family: $heading-font; }

.fw--300 { font-weight: 300 !important; }
.fw--700 { font-weight: 700 !important; }

/*
Media Queries
 */
@media (max-width: $break-sm) {
  .hidden-xs {
    display: none !important;
  }
}
@media (max-width: $break-md) {
  .hidden-sm {
    display: none !important;
  }
}
@media (max-width: $break-lg) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: $break-sm) {
  .visible-xs {
    display: none !important;
  }
}
@media (min-width: $break-md) {
  .visible-sm {
    display: none !important;
  }
}
@media (min-width: $break-lg) {
  .visible-md {
    display: none !important;
  }
}

/*
Mixins
 */
.screen-reader-text {
  @include sr-only;
}

/*
Text
 */
.txt--left { text-align: left; }
.txt--right { text-align: right; }