/**
 * _classes.scss
 */

/*
Backgrounds
 */
.bg--cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*
Buttons
 */
.button { @include button; }
.button-color { @include button-color; }
.button-text { @include button-text; }

.button-outline { @include button-outline; }

// classes -- color on color
.bo--bg { @include button-outline($text-color, $accent-color); }
.bo--ba { @include button-outline($text-color, $link-color); }
.bo--bw { @include button-outline($text-color, white); }

/*
Colors
 */
.col--text { color: $text-color !important; }
.col--heading { color: $heading-color !important; }

/*
Fonts
 */
.fnt--body { font-family: $body-font; }
.fnt--heading { font-family: $heading-font; }

/*
Margins
 */
.mxn3-lg {
  @include break-lg {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

/*
Media Queries
 */
@media (max-width: $break-sm) {
  .hidden-xs {
    display: none !important;
  }
}
@media (max-width: $break-md) {
  .hidden-sm {
    display: none !important;
  }
}
@media (max-width: $break-lg) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: $break-sm) {
  .visible-xs {
    display: none !important;
  }
}
@media (min-width: $break-md) {
  .visible-sm {
    display: none !important;
  }
}
@media (min-width: $break-lg) {
  .visible-md {
    display: none !important;
  }
}

/*
Mixins
 */
.screen-reader-text, .srt {
  @include screen-reader-text;
}
.val {
  @include vertical-align;
}

/*
Widgets
 */
// class for widget button text
.wbt {
  @include button-text(1.125rem);
}