/**
 * _mixins.scss
 */

/*
Animation
 */
@mixin animate($transition: all, $time: .25s) {
  transition: $transition $time ease;
}
@mixin no-animate() {
  transition: none;
}

/*
Buttons
 */
@mixin button-text($font-size: 0.8125rem) {
  font-size: $font-size;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $body-font;
}
@mixin button {
  display: inline-block;
  padding: 0.625rem 1.5rem;
  line-height: 1.0;
  @include button-text;
}
@mixin button-color($color: white, $bg-color: $link-color) {
  @include button;
  color: $color !important;
  background-color: $bg-color;
  border: none;
  @include animate(background-color);

  &:focus,
  &:hover {
    cursor: pointer;
    background-color: darken($bg-color, 7.5%);
  }
}
@mixin button-outline($color: $text-color, $border-color: $accent-color) {
  @include button;
  color: $color !important;
  background-color: transparent;
  border: 2px solid $border-color;
  @include animate(border-color);

  &:focus,
  &:hover {
    cursor: pointer;
    border-color: darken($border-color, 10%);
  }
}

/*
Clearfix
 */
@mixin clearfix() {
  &:after,
  &:before {
    content: "";
    display: table;
    table-layout: fixed;
  }
  &:after {
    clear: both;
  }
}

/*
Font Smoothing
 */
@mixin font-smoothing($value: on) {
  @if ($value == on) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

/*
Link Color
 */
@mixin link-color($color: $link-color, $hover: darken($link-color, 10%)) {
  color: $color;

  &:hover,
  &:focus,
  &:active {
    color: $hover;
  }
}

/*
Media queries
 */
@mixin break-xs {
  @media (min-width: $break-xs) {
    @content;
  }
}
@mixin break-sm {
  @media (min-width: $break-sm) {
    @content;
  }
}
@mixin break-md {
  @media (min-width: $break-md) {
    @content;
  }
}
@mixin break-lg {
  @media (min-width: $break-lg) {
    @content;
  }
}

/*
Screen reader
 */
@mixin screen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
Text shadow (glow)
 */
@mixin text-glow($color: $site-bg-color) {
  text-shadow:
    0 0 50px $color,
    0 0 40px $color,
    0 0 30px $color,
    0 0 20px $color,
    0 0 10px $color;
}

/*
Widget Title
 */
// used for footer widgets
@mixin widget-title($color: $heading-color) {
  font-family: $heading-font;
  font-size: 1.728rem;
  font-weight: 700;
  color: $color;
  text-transform: none;
}

/*
Vertical centering
 */
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
