/**
 * _variables.scss
 */

/*
Typography
 */
/* Variables */
$sans-serif: 'Oxygen', Helvetica, sans-serif;
$serif: Georgia, serif;
$cursive: 'Satisfy', cursive;

/* Definitions */
$body-font: $sans-serif;
$heading-font: $cursive;

/* Sizes */
$font-size-xs: 14px !default;
$font-size-sm: 15px !default;
$font-size-lg: 16px !default;

/*
Colors
 */
// brand color map function
@function brand-color($key: 'blue') {
  @return map-get($brand-colors, $key);
}

/* Variables */
$brand-colors: (
  'cream': #F2F1EC,
  'gold': #BF9B3F,
  'gray-brown': #3A3738,
  'gray-light': #DDD,
  'sand': #DDDBD3,
  'sand-dark': #BCB696,
  'aqua': #4C9B8F,
  'aqua-blue': #3B7589,
  'aqua-light': #60ADA7
);

/* Definitions */
$text-color: brand-color('gray-brown');
$text-color--light: lighten($text-color, 45%);

$heading-color: brand-color('aqua-blue');
$link-color: brand-color('aqua');
$link-color--light: brand-color('aqua-light');

$accent-color: brand-color('gold');
$button-color: $link-color;
$site-bg-color: brand-color('cream');

$border-color: brand-color('sand');
$border-color--dark: brand-color('sand-dark');

/* Social */
$facebook: #415696;
$twitter: #4FA6DD;

/*
Breakpoints
 */
// adjust these breakpoints
$break-xs: 35rem;
$break-sm: 48rem;
$break-md: 59.75rem;
$break-lg: 69rem;

/*
Margins
 */
$margin-p: 1.3rem;
