/**
 * _variables.scss
 */

/*
Typography
 */
/* Variables */
$sans-serif: 'Oxygen', Helvetica, sans-serif;
$serif: Georgia, serif;
$cursive: 'Satisfy', cursive;

/* Definitions */
$body-font: $sans-serif;
$heading-font: $cursive;

/* Sizes */
$font-size-xs: 14px !default;
$font-size-sm: 15px !default;
$font-size-lg: 16px !default;

/*
Colors
 */
// brand color map function
@function brand-color($key: 'blue') {
  @return map-get($brand-colors, $key);
}

/* Variables */
$brand-colors: (
  'cream': #F2F1EC,
  'gold': #BF9B3F,
  'gray-brown': #3A3738,
  'gray-light': #DDD,
  'sand': #DDDBD3,
  'teal': #4C9B8F,
  'teal-blue': #3B7589,
  'teal-light': #60ADA7
);

/* Definitions */
$text-color: brand-color('gray-brown');
$heading-color: brand-color('teal-blue');
$link-color: brand-color('teal');

$accent-color: brand-color('gold');
$border-color: brand-color('sand');
$button-color: $link-color;

$site-bg-color: brand-color('cream');

/* Social */
$facebook: #415696;
$twitter: #4FA6DD;

/*
Breakpoints
 */
// adjust these breakpoints
$break-sm: 34.375rem;
$break-md: 46.875rem;
$break-lg: 62.5rem;

/*
Margins
 */
$margin-p: 1.3rem;
