/**
 * _content.scss
 */

/*
Site
 */
.site {
  background-color: $site-bg-color;
}
.site-content {
  padding: 3.5rem 0 2.5rem;

  @include break-sm {
    padding-top: 4rem;
  }
  @include break-lg {
    padding-top: 5rem;
  }
}

// page background setup
.site-content--bg {
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;

  // help with legibility
  &:after {
    position: absolute;
    display: block;
    top: 0; left: 0;
    content: "";
    background: $site-bg-color;
    background: linear-gradient(transparent, $site-bg-color 150px);
    width: 100%;
    height: 100%;
    z-index: 1;

    @include break-sm {
      background: linear-gradient(transparent, $site-bg-color 200px);
    }
    @include break-lg {
      background: linear-gradient(transparent, $site-bg-color 300px);
    }
  }

  & > div {
    position: relative;
    z-index: 2;
  }

  // help with text glow also
  .home-section:first-of-type {
    .section-title,
    .section-text {
      @include text-glow;
    }
  }
}

// text glow on pages other than home
body:not(.home) .site-content--bg {
  .hentry .entry-title,
  .hentry .entry-content p:first-of-type {
    @include text-glow;
  }
}

/*
Comments
 */
.comments-area {
  margin-bottom: 2rem;

  .comment-list,
  .children {
    list-style-type: none;
  }
  .comment-list {
    padding-left: 0;
  }
  .comment-body {
    padding: 1rem;
    margin-bottom: $margin-p;
    border: 1px solid $border-color;
    border-radius: 2px;
  }
  .comment-content {
    p {
      margin: 0.5rem 0 0.65rem;
    }
  }
  ol.children {
    padding-left: $margin-p;
  }
}
.comment-author {
  margin-bottom: 0.25rem;

  img, b, span {
    display: inline-block;
    vertical-align: middle;
  }
}

/*
Navigation
 */
.comment-navigation,
.posts-navigation,
.post-navigation {
  margin: 0 0 $margin-p;
  overflow: hidden;
}
.nav-previous,
.nav-next {
  width: 50%;
}
.nav-previous {
  float: left;
}
.nav-next {
  float: right;
  text-align: right;
}

// branded nav styles
.post-navigation {
  padding: 0.5rem 1rem;
  background-color: $border-color;
  overflow: hidden;
}
.nav-previous a,
.nav-previous a:before,
.nav-next a,
.nav-next a:after {
  display: inline-block;
  vertical-align: middle;
}
.nav-previous,
.nav-next {
  a {
    color: $text-color;
    line-height: 1.0;
    @include button-text;

    &:before,
    &:after {
      font-family: "fontello";
      font-weight: normal;
      font-size: 1.5rem;
      margin: -0.125rem 0 0;
    }
  }
}
.nav-previous a:before {
  content: "\e804";
  margin-right: 1rem;
}
.nav-next a:after {
  content: "\e805";
  margin-left: 1rem;
}

/*
Blog
 */
.blog {
  .entry-title a {
    color: $text-color;
  }
}

/*
Blog: Bottom
 */
.blog-content-social {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $accent-color;
    margin: 0 0 -1.125rem;
  }

  .social-icons {
    display: inline-block;
    padding: 0 0.5rem;
    background-color: $site-bg-color;

    a {
      font-size: 2rem;
    }
  }
}

/*
Posts
 */
.single {
  .page-footer {
    margin: $margin-p 0 3rem;
  }
}

/*
Single: Bottom
 */
.social-nav {
  border: 1px solid $border-color;

  li:last-of-type {
    padding-right: 0;
  }
  a {
    font-size: 1.6rem;
  }
}