/**
 * _footer.scss
 */

/*
Footer
 */
.site-footer {
  margin-top: 3rem;
}

/*
Footer: Top
 */
.site-footer__top {
  .widget-title {
    margin-top: 0;
  }
}

/*
Footer: Bottom
 */
.site-footer__bottom {}

/*
Footer: Nav
 */
.site-footer__nav {
  font-size: 0.875rem;

  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    line-height: 1.0;
    padding: 0 0.5rem;
    border-right: 1px solid $text-color;

    &:last-of-type {
      border-right: none;
    }
  }
}

/*
Footer: Widgets
 */
.site-footer__column {
  margin-bottom: 3rem;

  .widget {
    margin-bottom: 2rem;

    .widget-title {
      @include widget-title;
    }
    .button {
      @include button-outline($text-color, $link-color--light);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @include break-sm {
    margin-bottom: 0;
  }
}

/*
Widget: Business Info
 */
.site-footer__column .wf-business-info {
  .wf-business-info__text p {
    margin: 0;
    @include widget-title($link-color--light);
  }
  a {
    color: $link-color--light;

    &:focus,
    &:hover {
      color: darken($link-color--light, 10%);
    }
  }
}

/*
Widget: Page Link
 */
.site-footer__column .wf-page-link {
  position: relative;

  a {
    color: $accent-color;

    &:focus,
    &:hover {
      color: darken($accent-color, 10%);
    }
  }

  .widget-title {
    a, img {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      position: relative;
      margin-right: 0.5rem;
      width: 3.5rem;
      padding-left: 0.75rem;
      z-index: 3;
    }
  }

  &:before {
    content: "";
    display: none;

    @include break-md {
      display: block;
      position: absolute;
      top: 0; left: 0;
      margin: -95px 0 0 -15px;
      width: 68px;
      height: 125px;
      background: url('../img/icons/icon-needle.png') left top no-repeat;
      background-size: contain;
      z-index: 2;
    }
    @include break-lg {
      margin: -168px 0 0 -23px;
      width: 117px;
      height: 215px;
    }
  }
}

/*
Sticky Footer
 */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1 1 auto;
}
