/**
 * _footer.scss
 */

/*
Footer
 */
.site-footer {}

/*
Footer: Top
 */
.site-footer__top {
  .widget-title {
    margin-top: 0;
  }
}

/*
Footer: Bottom
 */
.site-footer__bottom {}

/*
Footer: Nav
 */
.site-footer__nav {
  font-size: 0.875rem;

  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    line-height: 1.0;
    padding: 0 0.5rem;
    border-right: 1px solid $text-color;

    &:last-of-type {
      border-right: none;
    }
  }
}

/*
Footer: Widgets
 */
.site-footer .widget {
  .widget-title {
    @include widget-title;
  }
  .button {
    @include button-outline($text-color, $link-color--light);
  }
}

/* Business Info */
.site-footer .wf-business-info {
  .wf-business-info__text p {
    margin: 0;
    @include widget-title($link-color--light);
  }
  a {
    color: $link-color--light;
  }
}

/*
Sticky Footer
 */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1 1 auto;
}
