/**
 * _header.scss
 */

/*
Header
 */
.site-header {
  background-color: white;

  nav {
    a {
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.0;
    }

    @include break-sm {
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      li, a {
        display: block;
      }
      li {
        float: left;
      }
    }
  }
}

/*
Header: Top
 */
.top-navigation {
  float: right;
}
.top-nav__container {
  li {
    margin: 0 -0.125rem;
  }
  a {
    padding: 0.425rem 0.875rem;
    color: white;
    background-color: $heading-color;
    @include animate(background-color);
    @include button-text;
  }
  a:hover, a:focus,
  li.current_page_item a {
    background-color: $link-color;
  }
}

/*
Header: Bottom
 */
.main-nav__container {
  a {
    padding: 0.5rem;
    color: $text-color;
  }

  a:hover, a:focus,
  li.current_page_item a,
  li.current_page_parent a {
    color: $link-color;
  }

  @include break-sm {
    li {
      padding: 0 0.25rem;
    }
    a {
      padding: 0.75rem;
    }
  }
  @include break-md {
    li {
      padding: 0 0.5rem;
    }
  }
  @include break-lg {
    li {
      padding: 0 1rem;
    }
  }
}

/*
Navigation
 */
.main-navigation {
  margin: 1.5rem 0 1rem;

  @include break-lg {
    margin-top: 2rem;
  }
}
.main-nav__menu {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  li {
    display: none;
  }
  .site-logo {
    display: inherit;

    a {
      padding: 0;
    }
  }

  @include break-sm {
    // order the list items
    li:nth-child(1) { order: 1; }
    li:nth-child(2) { order: 2; }
    li:nth-child(3) { order: 4; }
    li:nth-child(4) { order: 5; }

    .site-logo {
      padding: 0 1.75rem;
      order: 3;
    }
    .site-logo__image {
      display: block;
    }
  }
  @include break-lg {
    .site-logo {
      padding: 0 2rem;
    }
  }
}

/*
Mobile Nav
 */
.mobile-nav-area {
  position: fixed;
  padding: 0.25rem 1.7rem 1.5rem;
  top: 0; left: 0;
  width: 80%;
  height: 100%;
  transition: all 0.375s ease;
  overflow-x: hidden;
  background: url('../img/bg-aqua.png') left top repeat;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul ul {
    margin-left: $margin-p;
  }
  li {
    margin: 1.25rem 0 0;
  }
  a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.143rem;

    &:hover,
    &:focus {
      color: $text-color;
    }
  }
}
.site {
  position: relative;
  @include animate(transform, 0.375s);

  &.pushed {
    transform: translateX(80%);
  }
}
