/**
 * _pages.scss
 */

/*
Home
 */
.home-section {
  padding: 2rem 0;

  @include break-sm {
    padding: 2.5rem 0;
  }
}

/*
Home: Headline
 */
.headline-section__text {
  p:last-of-type {
    margin-bottom: 0;
  }
}

/*
Home: Testimonials
 */
.testimonial-slider__bullets {
  button {
    display: inline-block;
    padding: 0;
    margin: 0 0.125rem;
    height: 0.75rem;
    width: 0.75rem;
    border: 3px solid $accent-color;
    background-color: transparent;
    line-height: 1.0;
    border-radius: 50%;

    &:hover,
    &:focus {
      outline: 0;
      cursor: pointer;
    }

    &:hover,
    &.active {
      border-color: darken($accent-color, 7.5%);
    }
  }
}
.testimonial-slider__text {
  p {
    font-size: 1.44rem;

    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

/*
Home: Banner
 */
.home-banner-section {
}

/*
Category Page
 */
.category-section__area {
  display: flex;
  flex-direction: row;
  min-height: 300px;
}
.category-area__tile {
  width: 50%;
}

/*
Product Page
 */
.product-section__inner {
  margin: -5px -5px 0 -5px;

  .column {
    float: left;

    img {
      display: block;
      padding: 5px;
    }
  }
}
.product-section__inner::before {
  content: "2 .column.size-1of2";

  @include break-md {
    content: "3 .column.size-1of3";
  }
}
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
